<!DOCTYPE html>
<!-- saved from url=(0043)https://www.visualcv.com/cvs/575085/preview -->
<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/MyPhoto_cv.jpg">

<title>Muthukrishnan - 2+ Yrs in RoR</title>
<meta content="Use VisualCV’s online CV builder to create stunning PDF and online resumes for free. We have the best online cv designs. Sign up and check out our professional online cv maker now." name="description">

<!-- Styles -->
<link href="https://www.visualcv.com/packages/application-30e1380f9415f12e51d10b6c43575ec5.css" media="all" rel="stylesheet">

<link href="https://www.visualcv.com/packages/themes/avant-9078b7f1527299a88e2fdd069a95f097.css" media="all" rel="stylesheet">


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<body class="bg-stripped">

  

<div id="ng-app" ng-app="cvEditor" ng-controller="CvCtrl" ng-init="exitModal();" class="ng-scope">

  <div class="ws stripped top-bar"></div>

    <div class="cv cv-container " data-column="main" data-cv-id="575085" id="cv_575085">

  <div class="cv-content row">
    <div class="col-sm-4 sidebar" data-column="sidebar">
      <section class="editable nomargin vcard fixed" id="contact-section" data-table="contact_infos">
  <article class="contact_info editable fixed" data-id="245976" id="contact_info_245976">

    <div class="user-thumb">
      <div class="css-crop bg-cover" style="background-image: url(https://workstory.s3.amazonaws.com/users/516281/MyPhoto_cv.jpg);"><img alt="Muthukrishnan Thiyagarajan" data-crop="cover" src="./Online CV Builder and Professional Resume CV Maker - VisualCV_files/MyPhoto_cv.jpg" style="display: none;"></div>
    </div>

    <div class="user-title fn">
      <h1 class="first full-name content-editable" data-placeholder="Full Name" data-field="full_name">Muthukrishnan Thiyagarajan</h1>
      <h2 class="content-editable first title" data-field="headline" data-placeholder="Headline / Current Title">2+ Years Experience in <br>Ruby on Rails</h2>
    </div>

    <div class="user-contact">
      <div class="adr">
        

        <p class="content-editable" data-field="email" data-placeholder="your@email.com">tmuthukrishnanmca@gmail.com</p>

        <p class="content-editable" data-field="telephone" data-placeholder="Phone">+91 - 8526042996</p>
<!-- 
        <div data-edit-form="/cvs/575085/contact_infos/245976/edit" data-inline-placeholder="Add Websites">
            <p><a href="https://www.linkedin.com/pub/muthukrishnan-thiyagarajan/92/221/687" rel="nofollow" target="_blank"><img id="imgLinkedIn" alt="LinkedIn" src="http://166.78.23.38/ResumeBuilder21/Images/linkedIn-icon.png" title="LinkedIn">  LinkedIn</a></p>
            <p><a href="https://www.facebook.com/TKMuthu1989" rel="nofollow" target="_blank"><i class="icon-facebook"></i> facebook.com/TKMuthu1989</a></p>
            <p><a href="https://programmerkrish.wordpress.com/" rel="nofollow" target="_blank"><i class="icon-wordpress"></i> programmerkrish.wordpress.com/</a></p>
        </div>
 -->
          <div id="Websites">


            <a id="LinkedIn" href="https://www.linkedin.com/pub/muthukrishnan-thiyagarajan/92/221/687" target="_blank" style="text-decoration: none;" linkid="34438">
                <img id="imgLinkedIn" alt="LinkedIn" src="http://166.78.23.38/ResumeBuilder21/Images/linkedIn-icon.png" title="LinkedIn">
            </a>
            <a id="Twitter" href="https://twitter.com/TMUTHU1989" target="_blank" style="display: ; text-decoration: none;">
                <img id="imgTwitter" alt="Twitter" src="http://166.78.23.38/ResumeBuilder21/Images/twitter-icon.png" title="Twitter">
            </a>
            <a id="Rss" href="#" target="_blank" style="display: none; text-decoration: none;">
                <img id="imgrss" alt="Rss" src="http://166.78.23.38/ResumeBuilder21/Images/RSS-icon.png" title="Rss">
            </a>
            <a id="facebook" href="https://www.facebook.com/TKMuthu1989" target="_blank" style="text-decoration: none;" linkid="34437">
                <img id="imgfacebook" alt="facebook" src="http://166.78.23.38/ResumeBuilder21/Images/fb-icon.png" title="facebook">
            </a>
            <a id="wordpress" href="https://programmerkrish.wordpress.com/" target="_blank" style="display: ; text-decoration: none;">
                <img id="imgBlog" alt="Blog" height="24" width="24" src="http://s.w.org/about/images/logos/wordpress-logo-32-blue.png" title="Blog">
            </a>
            <a id="mySites" href="#" target="_blank" style="display: none; text-decoration: none;">
                <img id="imgMysite" alt="My Sites" src="http://166.78.23.38/ResumeBuilder21/Images/Links/2/Personal.png" title="My Sites">
            </a>
            <a id="Company" href="#" target="_blank" style="display: none; text-decoration: none;">
                <img id="imgcompany" alt="Company" src="http://166.78.23.38/ResumeBuilder21/Images/Links/2/Company.png" title="Company">
            </a>
            <a id="Other" href="#" target="_blank" style="display: none; text-decoration: none;">
                <img id="imgOther" alt="Other" src="http://166.78.23.38/ResumeBuilder21/Images/Links/2/Other.png" title="Other">
            </a>

        </div>
      </div>
    </div>

</article></section>
<br>
        
<section class="editable" data-table="competencies">

  <header>
    <h3 class="header-text editable">Skills</h3>
  </header>

  <span class="edit-new btn btn-lg"><i class="fa fa-plus"></i> Skills</span>

  <div class="sortable">


      <article class="competency editable" data-id="891018" id="competency_891018">
        <div class="competency">
          <h4 class="content-editable" data-field="name" data-placeholder="Skill">Ruby on Rails</h4>
          <ul class="competency-list" data-edit-form="/cvs/575085/competencies/891018/edit?edit_form=level">
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class=""></li>
              <li class=""></li>
              <li class=""></li>
              <li class=""></li>
          </ul>
          <div class="mce-editable" data-field="description" data-placeholder="Skill Description">
            <p>Translate wire-frames, comps, and functional requirements into functional using Ruby on Rails with MySql and HTML/ CSS / jQuery.</p>
          </div>
        </div>
      </article>

      <article class="competency editable" data-id="891060" id="competency_891060">
        <div class="competency">
          <h4 class="content-editable" data-field="name" data-placeholder="Skill">MySql</h4>
          <ul class="competency-list" data-edit-form="/cvs/575085/competencies/891060/edit?edit_form=level">
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class=""></li>
              <li class=""></li>
              <li class=""></li>
              <li class=""></li>
          </ul>
          <div class="mce-editable" data-field="description" data-placeholder="Skill Description">
            <p>Design Database &amp; &nbsp;Table structures based on requirement specification</p>
          </div>
        </div>
      </article>

      <article class="competency editable" data-id="891063" id="competency_891063">
        <div class="competency">
          <h4 class="content-editable" data-field="name" data-placeholder="Skill">jQuery &amp; Javascript</h4>
          <ul class="competency-list" data-edit-form="/cvs/575085/competencies/891063/edit?edit_form=level">
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class="filled"></li>
              <li class=""></li>
              <li class=""></li>
              <li class=""></li>
              <li class=""></li>
          </ul>
          <div class="mce-editable" data-field="description" data-placeholder="Skill Description">
            <p>Demonstrate a high level of competence in design and coding.</p>
          </div>
        </div>
      </article>

  </div>

</section>
        <section class="editable" data-id="432820" data-table="text_stories">
  <header>
    <h3 class="content-editable header-text" data-field="title" data-placeholder="">Residential Address</h3>
  </header>

  

  <article class="text_story editable" data-id="432820" id="text_story_432820">
    <div class="article-body mce-editable" data-field="content" data-placeholder="Article Content">
      <p>Plot No:531, Flat No: S2, Life Time Homes,&nbsp;Sivaraman street, Ram nagar north, Madipakkam, Chennai - 91, Tamilnadu.</p>
    </div>
</article>
</section>
      

    </div>
    <div class="col-sm-8 main" data-column="main">
      

      <div class="section-sortable">
          <section class="editable" data-id="432814" data-table="text_stories">
  <header>
    <h3 class="content-editable header-text" data-field="title" data-placeholder="">Summary</h3>
  </header>

  

  <article class="text_story editable" data-id="432814" id="text_story_432814">
    <div class="article-body mce-editable" data-field="content" data-placeholder="Article Content">
      <ul><ul><li>About 2+ Years of Experience in spanning the various phases of the software Development&nbsp;Life Cycle with focus on Open source and Object Oriented Programming.</li><li>Versatile exposure to Ruby on Rails, MySql and related web technologies in the Web&nbsp;programming.</li><li>Expertise in understanding existing systems functionally and technically.</li></ul></ul>
    </div>
</article>
</section>
          <section class="editable" data-table="positions">
  <header>
    <h3 class="header-text editable">Work History</h3>
  </header>

  <span class="edit-new btn btn-lg"><i class="fa fa-plus"></i> Work History</span>

  <div class="sortable">

      <article class="position editable row" data-id="1081762" id="position_1081762">

        <div class="col-sm-3 article-headings">
          <h6 data-edit-form="/cvs/575085/positions/1081762/edit?edit_form=date_range" data-placeholder="yyyy - yyyy">Jan 2013 - present</h6>
        </div>
        <div class="col-sm-9 article-body">
          <h4 class="content-editable" data-field="title" data-placeholder="Job Title">Tech Project Associate</h4>
          <h5><span class="content-editable" data-field="employer_org_name" data-placeholder="Company Name">QDXSOFT Solutions Pvt Ltd</span></h5>
          <div class="mce-editable" data-field="description" data-placeholder="Job Description">
            
          </div>
        </div>

</article>
  </div>

</section>
          <section class="editable" data-table="degrees">
  <header>
    <h3 class="header-text editable">Education</h3>
  </header>

  <span class="edit-new btn btn-lg"><i class="fa fa-plus"></i> Education</span>

  <div class="sortable">

      <article class="degree editable row" data-id="564401" id="degree_564401">

        <div class="col-sm-3 article-headings">
          <h6 data-edit-form="/cvs/575085/degrees/564401/edit?edit_form=date_range" data-placeholder="yyyy - yyyy">Jul 2010 - May 2012</h6>
        </div>
        <div class="col-sm-9 article-body">
          <h4 class="content-editable" data-field="name" data-placeholder="Degree Name">Master's in Computer Applications</h4>
          <h5><a class="content-editable" data-field="school_name" data-placeholder="School Name" href="http://www.bdu.ac.in/" rel="nofollow" target="_blank">Bharathidasan University, Trichirapalli</a></h5>
          <div class="mce-editable" data-field="description" data-placeholder="Education Description">
            
          </div>
        </div>

</article>      <article class="degree editable row" data-id="564406" id="degree_564406">

        <div class="col-sm-3 article-headings">
          <h6 data-edit-form="/cvs/575085/degrees/564406/edit?edit_form=date_range" data-placeholder="yyyy - yyyy">Jun 2007 - Apr 2010</h6>
        </div>
        <div class="col-sm-9 article-body">
          <h4 class="content-editable" data-field="name" data-placeholder="Degree Name">B.Sc, Computer Science</h4>
          <h5><a class="content-editable" data-field="school_name" data-placeholder="School Name" href="http://www.bdu.ac.in/" rel="nofollow" target="_blank">Bharathidasan University, Trichirapalli</a></h5>
          <div class="mce-editable" data-field="description" data-placeholder="Education Description">
            
          </div>
        </div>

</article>
  </div>

</section>
          <section class="editable" data-id="432817" data-table="text_stories">
  <header>
    <h3 class="content-editable header-text" data-field="title" data-placeholder="">Interests</h3>
  </header>

  

  <article class="text_story editable" data-id="432817" id="text_story_432817">
    <div class="article-body mce-editable" data-field="content" data-placeholder="Article Content">
      <ul><li>Learning New thinks.</li><li>Reading Books.</li><li>Playing Cricket and volley ball.</li><li>Hearing Musics.</li></ul>
    </div>
</article>
</section>
          <section class="editable" data-id="432819" data-table="text_stories">
  <header>
    <h3 class="content-editable header-text" data-field="title" data-placeholder="">Languages Known</h3>
  </header>

  

  <article class="text_story editable" data-id="432819" id="text_story_432819">
    <div class="article-body mce-editable" data-field="content" data-placeholder="Article Content">
      <ul><li>Tamil (Read &amp; Write)</li><li>English (Read &amp; Write)</li></ul>
    </div>
</article>
</section>

      <section class="editable" data-id="432817" data-table="text_stories">
        <header>
          <h3 class="content-editable header-text" data-field="title" data-placeholder="">Academic Awards</h3>
        </header>
        <div >
          <div id="divCupAward" style="height: 200px; width: 185px; float: left; padding-left: 18px;" class="hasSVG"><svg version="1.1" width="200" height="140"><g transform="translate(20.000000,133.000000) scale(0.100000,-0.100000)" fill="rgb(221, 71, 38)" stroke="none"><path d="M479 1250 l-26 -33 -36 28 -37 28 -16 -41 c-17 -43 -29 -48 -60 -25 -30 23 -40 18 -50 -27 l-9 -43 -43 3 -44 4 4 -44 3 -43 -40 -5 c-42 -5 -46 -15 -30 -67 6 -17 3 -24 -11 -29 -11 -3 -29 -10 -42 -15 l-22 -9 24 -39 25 -39 -35 -18 c-19 -10 -34 -23 -34 -29 0 -5 14 -22 32 -38 l33 -27 -32 -30 -33 -30 40 -22 c44 -25 47 -33 25 -62 -24 -32 -18 -44 26 -51 l41 -7 -7 -44 -6 -44 45 0 46 0 0 -46 c0 -38 3 -45 18 -41 58 16 72 17 72 4 0 -13 -86 -216 -115 -270 -8 -16 -15 -37 -15 -46 0 -18 3 -17 57 0 31 11 60 19 64 19 4 0 20 -27 36 -60 15 -33 32 -60 36 -60 4 0 15 17 23 38 41 100 87 208 94 217 4 6 10 22 14 38 8 33 22 35 31 5 4 -13 13 -36 20 -53 15 -33 80 -186 95 -222 5 -13 13 -23 17 -23 5 0 21 27 36 60 16 33 32 60 36 60 4 0 33 -8 64 -19 53 -17 57 -17 57 -2 0 10 -11 39 -24 67 -13 27 -29 66 -35 86 -7 21 -17 40 -22 43 -5 4 -9 14 -9 23 0 10 -9 34 -20 55 -32 59 -28 62 53 40 14 -4 17 3 17 41 l0 46 46 0 45 0 -6 44 -7 44 41 7 c44 7 50 19 26 51 -22 29 -19 37 25 62 l40 22 -33 30 -32 30 33 27 c18 16 32 33 32 38 0 6 -15 19 -34 29 l-35 18 25 39 24 39 -22 9 c-13 5 -31 12 -42 15 -14 5 -17 12 -11 29 16 52 12 62 -30 67 l-40 5 3 43 4 44 -44 -4 -43 -3 -9 43 c-10 45 -20 50 -50 27 -31 -23 -43 -18 -60 25 l-16 41 -36 -28 -37 -27 -27 32 c-14 18 -28 32 -31 32 -2 0 -16 -15 -30 -32z m100 -68 c207 -34 372 -246 345 -444 -21 -160 -107 -277 -250 -343 -52 -24 -71 -27 -164 -27 -93 0 -112 3 -164 27 -143 66 -229 183 -250 343 -26 193 138 410 336 443 74 12 75 12 147 1z"></path><path d="M393 1128 c-60 -19 -104 -49 -157 -106 -72 -77 -90 -126 -91 -245 0-90 3 -106 28 -157 139 -283 535 -283 674 0 25 51 28 68 28 157 0 89 -3 106-28 156 -33 68 -119 152 -184 181 -60 27 -207 35 -270 14z"></path></g></svg><svg version="1.1" width="203" height="50"><path d="M0,100L1000,100" id="tempPath"></path><path d="M10,20L310,20" id="ConsultantAwardTexttemp"></path><rect x="-10" y="0" width="170" height="65" id="ConsultantAwardplotBestEngineeringAwardrec1" fill="rgb(0, 51, 68)" stroke="none" stroke-width="0"></rect><text id="textConsultantAwardText" font-family="rotissansserifregular" font-size="20px" font-weight="800" fill="rgb(255, 255, 255)"><textPath xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ConsultantAwardText"><tspan x="0" dy="0">Best student   </tspan></textPath></text><path d="M21.5,20L321.5,20" id="ConsultantAwardText"></path><text x="21.5" y="40" id="ConsultantAwardtextMainYear" font-family="rotissansserifregular" font-size="NaN" font-weight="800" fill="rgb(255, 255, 255)">2011</text></svg></div>
        </div>

        <div id="divCupAward1" style="height: 200px; width: 185px; float: left; padding-left: 18px;" class="hasSVG"><svg version="1.1" width="200" height="140"><g transform="translate(20.000000,133.000000) scale(0.100000,-0.100000)" fill="rgb(221, 71, 38)" stroke="none"><path d="M479 1250 l-26 -33 -36 28 -37 28 -16 -41 c-17 -43 -29 -48 -60 -25 -30 23 -40 18 -50 -27 l-9 -43 -43 3 -44 4 4 -44 3 -43 -40 -5 c-42 -5 -46 -15 -30 -67 6 -17 3 -24 -11 -29 -11 -3 -29 -10 -42 -15 l-22 -9 24 -39 25 -39 -35 -18 c-19 -10 -34 -23 -34 -29 0 -5 14 -22 32 -38 l33 -27 -32 -30 -33 -30 40 -22 c44 -25 47 -33 25 -62 -24 -32 -18 -44 26 -51 l41 -7 -7 -44 -6 -44 45 0 46 0 0 -46 c0 -38 3 -45 18 -41 58 16 72 17 72 4 0 -13 -86 -216 -115 -270 -8 -16 -15 -37 -15 -46 0 -18 3 -17 57 0 31 11 60 19 64 19 4 0 20 -27 36 -60 15 -33 32 -60 36 -60 4 0 15 17 23 38 41 100 87 208 94 217 4 6 10 22 14 38 8 33 22 35 31 5 4 -13 13 -36 20 -53 15 -33 80 -186 95 -222 5 -13 13 -23 17 -23 5 0 21 27 36 60 16 33 32 60 36 60 4 0 33 -8 64 -19 53 -17 57 -17 57 -2 0 10 -11 39 -24 67 -13 27 -29 66 -35 86 -7 21 -17 40 -22 43 -5 4 -9 14 -9 23 0 10 -9 34 -20 55 -32 59 -28 62 53 40 14 -4 17 3 17 41 l0 46 46 0 45 0 -6 44 -7 44 41 7 c44 7 50 19 26 51 -22 29 -19 37 25 62 l40 22 -33 30 -32 30 33 27 c18 16 32 33 32 38 0 6 -15 19 -34 29 l-35 18 25 39 24 39 -22 9 c-13 5 -31 12 -42 15 -14 5 -17 12 -11 29 16 52 12 62 -30 67 l-40 5 3 43 4 44 -44 -4 -43 -3 -9 43 c-10 45 -20 50 -50 27 -31 -23 -43 -18 -60 25 l-16 41 -36 -28 -37 -27 -27 32 c-14 18 -28 32 -31 32 -2 0 -16 -15 -30 -32z m100 -68 c207 -34 372 -246 345 -444 -21 -160 -107 -277 -250 -343 -52 -24 -71 -27 -164 -27 -93 0 -112 3 -164 27 -143 66 -229 183 -250 343 -26 193 138 410 336 443 74 12 75 12 147 1z"></path><path d="M393 1128 c-60 -19 -104 -49 -157 -106 -72 -77 -90 -126 -91 -245 0-90 3 -106 28 -157 139 -283 535 -283 674 0 25 51 28 68 28 157 0 89 -3 106-28 156 -33 68 -119 152 -184 181 -60 27 -207 35 -270 14z"></path></g></svg><svg version="1.1" width="203" height="50"><path d="M0,100L1000,100" id="tempPath"></path><path d="M10,20L310,20" id="ConsultantAwardTexttemp"></path><rect x="-10" y="0" width="170" height="65" id="ConsultantAwardplotBestEngineeringAwardrec1" fill="rgb(0, 51, 68)" stroke="none" stroke-width="0"></rect><text id="textConsultantAwardText" font-family="rotissansserifregular" font-size="20px" font-weight="800" fill="rgb(255, 255, 255)"><textPath xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ConsultantAwardText"><tspan x="0" dy="0">Best Rotractor   </tspan></textPath></text><path d="M21.5,20L321.5,20" id="ConsultantAwardText"></path><text x="21.5" y="40" id="ConsultantAwardtextMainYear" font-family="rotissansserifregular" font-size="NaN" font-weight="800" fill="rgb(255, 255, 255)">2010</text></svg></div>
        </div>
      </div>


    </div>
  </div>

  
  <style id="custom-styles" data-color="">
</style>

</div>


  <div class="ws stripped"></div>


  
</body></html>